{% extends "layout/default.twig" %}
{% block content %}
<!DOCTYPE html><html><head>
    <meta charset="utf-8">
    <title>Welcome to {{ product.name }}</title>
  </head>
  <body>
    <h1>{{ product.name }}</h1>
    <p>{% trans %}This is a demo landing page.{% endtrans %}</p>
  

</body></html>
{% endblock %}
