name: Auto Label Issues
on:
  workflow_dispatch:
  issues:
    types: [opened, edited]
permissions:
  issues: write
jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v5
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/auto-labeler.yml
          sync-labels: false
          include-title: true
          include-body: true


